.sliderdata {
    /* border: 1px solid black; */
    gap:10px;
    /* width: 554px; */
    height: 173px;
    flex: none;
    order: 1;
    flex-grow: 0;
   
}

.heading {
    width: 470px;
    /* position: absolute;
    height: 61px;
    left: 32px;
    top: 0px; */
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 61px;
    color: #222222;
}

.text {
    position: absolute;
    /* height: 96px; */
    width: 470px;
    /*
    left: 0px;
    top: 77px; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #7E7E7E;
}

.girldiv {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* height: 419px;
    width: 418px; */
    /* position: absolute;
    left: 68px;
    top: 330px; */
    border-radius: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.girllogo {
    /* border: 1px solid black; */
    padding-top: 21px;
    padding-bottom: 21px;
    width: 414px;
    height: 277px;
    /* left: 2px;
    top: 71px; */
}