.my-custom-class {
    position: relative;
width: 1440px;
height: 1024px;
background: #FFFFFF;  
  }
.my-custom-div {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;

    position: absolute;
    width: 554px;
    height: 812px;
    left: 76px;
    top: 88px; */
    position: absolute;
width: 706px;
height: 966px;
left: 33px;
top: 29px;
}
.my-custominner-div{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 50px;
position: absolute;
width: 554px;
height: 812px;
left: 76px;
top: 88px;
}
.my-header-div{

width: 554px;
height: 173px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.my-footer{
    width: 418px;
height: 419px;
flex: none;
order: 2;
flex-grow: 0;
}
