 .outer{
    position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}
.inner{
    position: absolute;
width: 706px;
height: 966px;
left: 33px;
top: 29px;
background: #EEF5FF;
}
.content{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 50px;

position: absolute;
width: 554px;
height: 812px;
left: 76px;
top: 88px;

}

.optuslogo{
    width: 150px;
    height: 57px;
    flex: none;
    order: 0;
    flex-grow: 0;


}
.div{
  
    width: 554px;
    height: 173px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.heading{
    position: absolute;
width: 490px;
height: 61px;
left: 32px;
top: 0px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 61px;
color: #222222;
}

.text{
position: absolute;
width: 554px;
height: 96px;
left: 0px;
top: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
text-align: center;
color: #7E7E7E;
}

.girlimage{
position: absolute; 
height: 419px;
width: 418px;
left: 68px;
top: 330px;
border-radius: 0px;
flex: none;
order: 2;
flex-grow: 0;
}
.girllogo{
    /* position: absolute;  */
    /* margin-top: 200px;  */
  
width: 414px;
height: 277px;
left: 2px; 
top: 71px;
}
.slider{
     background: #EEF5FF;
     gap: 8px;
     order: 3;
    
}
/* .swiper-pagination-bullet.another-class {
    width: 13px;
height: 13px;
background-color: green;



flex: none;
order: 0;
flex-grow: 0;
}  */
 /* .swiper-pagination-bullet {
  
width: 34px;
height: 13px;



background: #6206B7;
border-radius: 14px;



flex: none;
order: 0;
flex-grow: 0;
}  */
/* .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
  } */
 